doctype html
html
  head
    meta(charset="utf-8")
    title Template with Parcel, Pug, Stylus
    script(
      src="./scripts/index.js"
      type="module"
    )
    script(
      src="./scripts/index.ts"
      type="module"
    )
    link(
      href="./styles/index.styl"
      rel="stylesheet"
    )
  body
    h1 Template with Parcel, Pug, Stylus
